<%- include ('templates/header'); -%>

<div class='container'>
    <div class='jumbotron'>
        <h1 style='text-align:center;'> Library </h1>
    </div>
    
    <div class='row'>
        <%if(!books){%>
            <h1 class='col-sm-12 nofound'>Empty database. Please add the first book!</h1>    
        <%}
        else{%>
        	<table>
        		<tr class='bookHeadings'><th><h4 style="font-size:30px;padding-left:20px"> Cover </h4></th><th><h4 style="font-size:30px;padding-left:90px"> Title </h4></th>
        		<th><h4 style="font-size:30px;padding-left:70px"> Year </h4></th>
        		<tr><td colspan="4"><hr/></td></tr>
        		<tr><td colspan="10"><hr/></td></tr>
        		<%books.forEach(function(book){%>
            		<tr>
            		    <td><img src= '<%=book.cover%>'></image></td>
            			<td  class='bookTable'><%=book.title%></td>
            			<td  class='bookTable'><%=book.year%></td>
            			<td  class='bookTable'><a href='/checkout/<%=book.bookId%>'><h2>Checkout</h2></a></td>
            		</tr>
            		<br>
        		<%});%>
        	</table>
        <%}%>
    </div>
    
</div>

<%- include ('templates/footer'); -%>